@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Sen:wght@400;700&display=swap');


.history-container {
    background-color: #f7f5f0 !important;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Sen', sans-serif;
}

.history-title, .history-table th {
    font-family: 'Playfair Display', serif;
}

.history-title {
    font-weight: 700;
    font-size: 2.2rem;
    border-bottom: 1px solid #e2725b;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.main-tab-group {
    display: flex;
    justify-content: center;
}

.main-category-label.active-tab {
    background-color: #000;
    color: #fff;
    display: inline-block;
    border: 1px solid #d1cfc0;
    padding: 10px 30px;
    font-weight: 700;
    min-width: 160px;
}


.section-reservations-fixed {
    display: block !important;
    width: 100%;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #d1cfc0;
    margin-top: 10px;
}

.history-table th {
    border: 1px solid #d1cfc0;
    padding: 12px;
    background-color: #fff;
    font-weight: 600;
    text-align: center;
}

.history-table td {
    border: 1px solid #d1cfc0;
    padding: 20px 15px;
    vertical-align: middle;
    text-align: center;
}
.no-data {
    padding: 60px !important;
    color: #333;
    font-style: italic;
    background-color: #fff;
}

.btn-dashboard-back {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #d1cfc0;
    border-radius: 12px;
    background: #fff;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;
}

.btn-dashboard-back:hover {
    background-color: #f7f5f0;
}

.btn-delete-link {
    background: none;
    border: none;
    color: #e2725b;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.edit-container {
    background-color: #f7f5f0;
    min-height: 80vh;
}

.form-card {
    max-width: 500px;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.edit-title {
    font-size: 1.8rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 5px;
}

.restaurant-name {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 12px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #e2725b;
    box-shadow: none;
}

.btn-update {
    background-color: #e2725b;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    transition: background 0.3s ease;
}

.btn-update:hover {
    background-color: #d1624b;
    color: white;
}

.btn-cancel {
    background-color: transparent;
    color: #999;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-cancel:hover {
    color: #666;
}
