@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Sub fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

body{
    font-family: "playfair display", serif;
    background-color: #F7F5F0;
}

button,
.btn,
label{
    font-family: "sen", sans-serif;
}

/* Sizes */

h1{
    font-size: 3rem;  
}

h2{
    font-size: 2.2rem; 
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.2rem;
}

h6{
    font-size: 1rem;
}

/* =========================
   Brand Buttons
========================= */

/* Dark button (#243340) */
.btn-navy{
  background-color:#243340;
  color:#ffffff;
  border:2px solid #243340;
  border-radius:999px;
  padding:8px 24px;
  font-family:"Sen", sans-serif;
  transition:all .2s ease;
}

.btn-navy:hover{
  background-color:#1b2832;
  border-color:#1b2832;
  color:#ffffff;
}


/* Orange button (#D96B52) */
.btn-orange{
  background-color:#D96B52;
  color:#ffffff;
  border:2px solid #D96B52;
  border-radius:999px;
  padding:8px 24px;
  font-family:"Sen", sans-serif;
  transition:all .2s ease;
}

.btn-orange:hover{
  background-color:#c95a43;
  border-color:#c95a43;
  color:#ffffff;
}


/* Outline version (like Cancel) */
.btn-outline-orange{
  background-color:transparent;
  color:#D96B52;
  border:2px solid #D96B52;
  border-radius:999px;
  padding:8px 24px;
  font-family:"Sen", sans-serif;
  transition:all .2s ease;
}

.btn-outline-orange:hover{
  background-color:#D96B52;
  color:#ffffff;
}